# This is Git's per-user configuration file.
[user]
	name = Matt Savoia
	email = matt.savoia@thescore.com
	signingkey = 41C98C98CC1DB00C
[commit]
	gpgsign = true
[diff]
    tool = default-difftool
    colorMoved = default
[core]
    excludesfile = ~/.gitignore
    editor = nvim
[blame]
    date = short
[alias]
    co = checkout
    br = branch
    st = status
[commit]
    verbose = true
[pull]
    rebase = true
[fetch]
    prune = true
[advice]
    detachedHead = false
    skippedCherryPicks = false
[init]
    defaultBranch = master
[credential]
    helper = store
[push]
    autoSetupRemote = true
