# This is Git's per-user configuration file.
[user]
	name = Matt Savoia
	email = matt@1-800-rad-dude.com
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[diff]
    tool = default-difftool
	colorMoved = default
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[blame]
    date = short
[alias]
	co = checkout
	br = branch
	st = status
[commit]
    verbose = true
[pull]
	rebase = true
[fetch]
	prune = true
[advice]
	detachedHead = false
	skippedCherryPicks = false
[init]
	defaultBranch = master
[credential]
	helper = store
[push]
	autoSetupRemote = true
